body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d1caca;
  min-width: 400px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
};
a:hover{
  cursor: pointer;
  font-weight: bold;
}
#information{
  margin: 0 auto;
  flex-direction: row;
  max-width: 600px;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;
}
#school, #me{
  width: fit-content;
}

